In [ ]:
pip install seaborn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob

In [4]:
#load 2019 air quality data
co_19 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/CO_2019.csv')
no2_19 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/NO2_2019.csv')
o3_19 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/O3_2019.csv')
pm25_19= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/PM2.5_2019.csv')
pm10_19 =pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/PM10_2019.csv')

In [92]:
#load 2020 air quality data
co_20 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/CO_2020.csv')
no2_20 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/NO2_2020.csv')
o3_20 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/O3_2020.csv')
pm25_20= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/PM2.5_2020.csv')
pm10_20 =pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/PM10_2020.csv')

In [93]:
#load 2021 air quality data
co_21 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/CO_2021.csv')
no2_21 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/NO2_2021.csv')
o3_21 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/O3_2021.csv')
pm25_21= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/PM2.5_2021.csv')
pm10_21 =pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/PM10_2021.csv')

In [ ]:
#load covid-19 data
covid= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/COVID-19_CA/covid19cases_deaths.csv')

In [94]:
#each dataset has different number of counties 
print(co_19.COUNTY.nunique())
print(pm10_19.COUNTY.nunique())
print(no2_19.COUNTY.nunique())
print(pm25_19.COUNTY.nunique())
print(o3_19.COUNTY.nunique())

25
43
33
51
49

California has 58 counties. This could be interpreted as missing values or simply the air pollutant is not being recorded in all counties. What matters is within the same readings of the air pollutant is to deal with mssing data there

In [95]:
#each dataset has different number of counties 
print(co_20.COUNTY.nunique())
print(pm10_20.COUNTY.nunique())
print(no2_20.COUNTY.nunique())
print(pm25_20.COUNTY.nunique())
print(o3_20.COUNTY.nunique())

25
43
33
51
49

In [97]:
#each dataset has different number of counties 
print(co_21.COUNTY.nunique())
print(pm10_21.COUNTY.nunique())
print(no2_21.COUNTY.nunique())
print(pm25_21.COUNTY.nunique())
print(o3_21.COUNTY.nunique())

25
42
33
49
48

We notice missing values in pm10_21, pm25_21, o3_21

Let's explore and process each year on its own first

In [ ]:
co_19.head()

In [ ]:
co_19.info()

In [98]:
#We notice that 'Date' is not a Datetime format
#convert 'Date' to datetime dtype. We choose this specific arrangement as oposed to
# %d/%m/%y because the data is rcorded that way 
pd.to_datetime(co_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(pm10_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(pm25_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(no2_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(o3_19['Date'], format = "%m/%d/%Y")

0       2019-01-01
1       2019-01-02
2       2019-01-03
3       2019-01-04
4       2019-01-05
           ...
57725   2019-12-07
57726   2019-12-27
57727   2019-12-28
57728   2019-12-29
57729   2019-12-30
Name: Date, Length: 57730, dtype: datetime64[ns]

In [99]:
#Average CO concentration across all counties on each day which automatically eliminates the column 'County'
co_19=co_19.groupby('Date').mean()
o3_19=o3_19.groupby('Date').mean()
no2_19=no2_19.groupby('Date').mean()
pm10_19=pm10_19.groupby('Date').mean()
pm25_19=pm25_19.groupby('Date').mean()

C:\Users\Thekra\AppData\Local\Temp\ipykernel_21008\68434089.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  co_19=co_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_21008\68434089.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  o3_19=o3_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_21008\68434089.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  no2_19=no2_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_21008\68434089.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pm10_19=pm10_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_21008\68434089.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pm25_19=pm25_19.groupby('Date').mean()

In [100]:
no2_19.head()

,Site ID,POC,Daily Max 1-hour NO2 Concentration,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,CBSA_CODE,STATE_CODE,COUNTY_CODE,SITE_LATITUDE,SITE_LONGITUDE
Date,,,,,,,,,,,,
01/01/2019,6.054638e+07,1.166667,19.560417,18.093750,23.177083,96.708333,42602.0,36027.500000,6.0,54.479167,35.704739,-119.580122
01/02/2019,6.054638e+07,1.166667,29.459375,27.520833,22.843750,95.333333,42602.0,36027.500000,6.0,54.479167,35.704739,-119.580122
01/03/2019,6.054668e+07,1.163265,30.051020,28.030612,22.959184,95.795918,42602.0,36023.673469,6.0,54.510204,35.686228,-119.569303
01/04/2019,6.054689e+07,1.163265,32.317347,30.214286,23.000000,95.979592,42602.0,36040.000000,6.0,54.530612,35.675181,-119.564776
01/05/2019,6.054689e+07,1.163265,24.112245,22.438776,23.051020,96.204082,42602.0,36040.000000,6.0,54.530612,35.675181,-119.564776

In [101]:
no2_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2019 to 12/31/2019
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Site ID                             365 non-null    float64
 1   POC                                 365 non-null    float64
 2   Daily Max 1-hour NO2 Concentration  365 non-null    float64
 3   DAILY_AQI_VALUE                     365 non-null    float64
 4   DAILY_OBS_COUNT                     365 non-null    float64
 5   PERCENT_COMPLETE                    365 non-null    float64
 6   AQS_PARAMETER_CODE                  365 non-null    float64
 7   CBSA_CODE                           365 non-null    float64
 8   STATE_CODE                          365 non-null    float64
 9   COUNTY_CODE                         365 non-null    float64
 10  SITE_LATITUDE                       365 non-null    float64
 11  SITE_LONGITUDE                      365 non-null    float64
dtypes: float64(12)
memory usage: 37.1+ KB

In [ ]:
#we will eliminate the following columns because of their irrelevance: Site ID, POC, Dails AQI, Daily OBS, AQSParamerter code, CBSA_code. StateCode, CountyCoe, Site latitude, site longitude

In [102]:
no2_19.drop(['POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)

In [103]:
co_19.drop(['POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)
pm25_19.drop(['POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)
pm10_19.drop(['POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)
o3_19.drop(['POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)

In [104]:
o3_19.head()

,Site ID,Daily Max 8-hour Ozone Concentration,PERCENT_COMPLETE
Date,,,
01/01/2019,6.059087e+07,0.033000,99.734177
01/02/2019,6.058962e+07,0.030066,99.523179
01/03/2019,6.059100e+07,0.028192,99.384615
01/04/2019,6.059098e+07,0.028737,99.884615
01/05/2019,6.059213e+07,0.031823,99.810127

In [105]:
#missing dates in o3
print(co_19.shape)
print(no2_19.shape)
print(o3_19.shape)
print(pm10_19.shape)
print(pm25_19.shape)

(365, 3)
(365, 3)
(364, 3)
(365, 3)
(365, 3)

In [106]:
#find which once and remove
pd.date_range(start = '2019-01-01', end = '2019-12-31').difference(o3_19.index)

DatetimeIndex(['2019-12-31'], dtype='datetime64[ns]', freq=None)

In [107]:
#the result told us that the missing date is December 31. Let's check of thats true:
o3_19.tail()

,Site ID,Daily Max 8-hour Ozone Concentration,PERCENT_COMPLETE
Date,,,
12/26/2019,6.059252e+07,0.031275,99.607843
12/27/2019,6.059040e+07,0.029230,99.447368
12/28/2019,6.059538e+07,0.029285,99.506329
12/29/2019,6.060235e+07,0.028924,99.582278
12/30/2019,6.059855e+07,0.028506,99.582278

In [ ]:
#rename columns

In [ ]:
#set 'Date' as the index
co_19.set_index('Date')
o3_19.set_index('Date')
no2_19.set_index('Date')
pm10_19.set_index('Date')
pm25_19.set_index('Date')

In [ ]:
#perform groupby() on each of the 5 air quality datasets to get the daily average concentration for each county
co_19_mean= co_19.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
pm10_19_mean= pm10_19.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm25_19_mean = pm25_19.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_19_mean = o3_19.sort_index().groupby(['Date', 'COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_19_mean = no2_19.sort_index().groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [ ]:
#the concatenated df of 2019 datasets should have 19,345 rows (364 days * 53 counties)
air19= pd.concat([co_19_mean, pm10_19_mean, pm25_19_mean, o3_19_mean, no2_19_mean], join='outer', axis=1)
air19

In [ ]:
#find missing dates if there's any
pd.date_range(start = '2019-01-01', end = '2019-12-31').difference(air19.index)

In [ ]:
#even if some counties don't have measueemnet for a specifc pollutatnt, it should be listed and have NaN for the value of that specifc pollutant

In [ ]:
#check the number of counties in the dataset. counties are now indecies after appkying groupby()
list(air19.index)

In [ ]:
air19.index.unique(level='COUNTY').value_counts().sum()

In [ ]:
#find columns with no recodidings on a specifc day (which indicates wrong calculation)
air19[air19.isnull().all(axis=1)]

In [ ]:
air19[air19.isnull().any(axis=1)]

In [ ]:
#apply groupby() to each of the 5 air quality datasets from 2020 to get the daily average concentration for each county
co_20_mean= co_20.sort_index().groupby(['Date', 'COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
pm10_20_mean= pm10_20.sort_index().groupby(['Date', 'COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm25_20_mean = pm25_20.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_20_mean = o3_20.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_20_mean = no2_20.sort_index().groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [ ]:
#concatenate 2019 and 2020 data
air20= pd.concat([air19, co_20_mean, pm10_20_mean, pm25_20_mean, o3_20_mean, no2_20_mean], join='outer')
air20

In [ ]:
air20.reset_index(inplace=True)

In [ ]:
new_df21.info()

In [ ]:
new_df21[['Date', 'COUNTY']].duplicated().sum()

In [ ]:
#apply groupby() on each of the 5 air quality datasets from 2021 to get the daily average concentration for each county
co_21_mean= co_21.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
pm10_21_mean= pm10_21.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm25_21_mean = pm25_21.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_21_mean = o3_21.sort_index().groupby(['Date', 'COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_21_mean = no2_21.sort_index().groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [ ]:
co_21.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)

In [ ]:
print(co_21_mean.shape)
print(no2_21_mean.shape)
print(o3_21_mean.shape)
print(pm10_21_mean.shape)
print(pm25_21_mean.shape)

In [ ]:
#new_df20.reset_index(inplace=True)

In [ ]:
#co_21_mean.reset_index(inplace=True)
#pm10_21_mean.reset_index(inplace=True)
#pm25_21_mean.reset_index(inplace=True)
#o3_21_mean.reset_index(inplace=True)
#no2_21_mean.reset_index(inplace=True)

In [ ]:
#the concatenated df of 2021 datasets should have 19,345 rows
air21= pd.merge([co_21_mean, pm10_21_mean, pm25_21_mean, o3_21_mean, no2_21_mean], on='Date')
air21

In [ ]:
#the concatenated df of 2021 datasets should have 18,980 rows (52 counties * 365 days)
air21= pd.concat([co_21_mean, pm10_21_mean, pm25_21_mean, o3_21_mean, no2_21_mean], join='outer', axis=1)
air21

In [ ]:
#number of counties in 2021 dataset
air21.index.unique(level='COUNTY').value_counts().sum()

In [ ]:
#check for missing dates
pd.date_range(start = '2021-01-01', end = '2021-12-31').difference(air19.index)

In [ ]:
air21.reset_index(inplace=True)

In [ ]:
#check for duplicates
air21.duplicated().value_counts()

In [ ]:
#check the unique counties in COVID-19 and air19 datasets
cov_county = list(covid.area.unique())
cov_county

In [ ]:
covid.area.unique()

In [ ]:
[x for x in covid.area.unique() if x not in air19.index]

In [ ]:
for x in covid.area.unique():
    if x not in co_19.COUNTY.unique():
        print(x)

In [ ]:
list(air21.index.values.sum())

In [ ]:
air21.index.values.tolist()

------------------------------------------------------------------------------------------------------------

In [ ]:
co_19.set_index('Date')
o3_19.set_index('Date')
no2_19.set_index('Date')
pm10_19.set_index('Date')
pm25_19.set_index('Date')
co_20.set_index('Date')
o3_20.set_index('Date')
no2_20.set_index('Date')
pm10_20.set_index('Date')
pm25_20.set_index('Date')

In [ ]:
#concat() 2019 data
new_df= pd.concat([co_19, pm10_19, pm25_19, o3_19, no2_19], join='outer', axis=1)
new_df

In [ ]:
#concat 2019 and 2020 data
new_df20= pd.concat([new_df, co_20, pm10_20, pm25_20, o3_20, no2_20], join='outer')
new_df20

In [ ]:
new_df = pd.concat([co_19, no2_19, o3_19, pm25_19, pm10_19])

new_df_county= list(new_df.COUNTY.unique())
cov_county = list(covid.area.unique())

[x for x in cov_county if x not in new_df_county]

In [ ]:
new_df

In [ ]:
counties = {'county':['Alameda','Amador','Butte','Calaveras','Colusa', 'Contra Costa', 'Del Norte',
'El Dorado','Fresno', 'Glenn','Humboldt','Imperial','Inyo','Kern','Kings','Lake','Los Angeles','Madera',
'Marin','Mariposa','Merced', 'Mono','Monterey','Napa','Nevada','Orange','Placer','Plumas','Riverside','Sacramento',
'San Benito','San Bernardino','San Diego','San Francisco','San Joaquin','San Luis Obispo','San Mateo','Santa Barbara',
'Santa Clara','Santa Cruz','Shasta','Siskiyou','Solano','Sonoma','Stanislaus','Sutter','Tehama','Trinity','Tulare',
'Tuolumne','Ventura','Yolo']}

In [ ]:
df= pd.DataFrame(counties)
df

In [ ]:
df['date']=pd.date_range(start='2021-01-01', end= '2021-12-31')

In [ ]:
df_county_date= pd.date_range(start='2021-01-01', end= '2021-12-31')
df_county_date

In [ ]:
df_county_date['county']= counties