In [ ]:
pip install seaborn

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob

In [7]:
#load 2019 air quality data
co_19 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/CO_2019.csv')
no2_19 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/NO2_2019.csv')
o3_19 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/O3_2019.csv')
pm25_19= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/PM2.5_2019.csv')
pm10_19 =pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2019/PM10_2019.csv')

In [8]:
#load 2020 air quality data
co_20 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/CO_2020.csv')
no2_20 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/NO2_2020.csv')
o3_20 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/O3_2020.csv')
pm25_20= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/PM2.5_2020.csv')
pm10_20 =pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2020/PM10_2020.csv')

In [9]:
#load 2021 air quality data
co_21 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/CO_2021.csv')
no2_21 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/NO2_2021.csv')
o3_21 = pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/O3_2021.csv')
pm25_21= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/PM2.5_2021.csv')
pm10_21 =pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/2021/PM10_2021.csv')

In [10]:
#load covid-19 data
covid= pd.read_csv('C:/Users/Thekra/Desktop/ds_cap/DS_capstone/data/COVID-19_CA/covid19cases_deaths.csv')

In [11]:
#view shape of 2019 datasets to compare the number  of entries after groupingby()

In [12]:
#each dataset has different number of counties 
print(co_19.COUNTY.nunique())
print(pm10_19.COUNTY.nunique())
print(no2_19.COUNTY.nunique())
print(pm25_19.COUNTY.nunique())
print(o3_19.COUNTY.nunique())

25
43
33
51
49

California has 58 counties. This could be interpreted as missing values or simply the air pollutant is not being recorded in all counties. What matters is within the same readings of the air pollutant is to deal with mssing data there

In [13]:
#each dataset has different number of counties in 2020
print(co_20.COUNTY.nunique())
print(pm10_20.COUNTY.nunique())
print(no2_20.COUNTY.nunique())
print(pm25_20.COUNTY.nunique())
print(o3_20.COUNTY.nunique())

25
43
33
51
49

In [14]:
 #each dataset has different number of counties in 2021
print(co_21.COUNTY.nunique())
print(pm10_21.COUNTY.nunique())
print(no2_21.COUNTY.nunique())
print(pm25_21.COUNTY.nunique())
print(o3_21.COUNTY.nunique())

25
42
33
49
48

We notice missing values in pm10_21, pm25_21, . Will deal with it later when we get to 2021. Now lets work on 2019

Let's explore and process each year on its own first

In [15]:
co_19.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010009,1,0.4,ppm,5,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2019,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [16]:
co_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22290 entries, 0 to 22289
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               22290 non-null  object
 1   Source                             22290 non-null  object
 2   Site ID                            22290 non-null  int64
 3   POC                                22290 non-null  int64
 4   Daily Max 8-hour CO Concentration  22290 non-null  float64
 5   UNITS                              22290 non-null  object
 6   DAILY_AQI_VALUE                    22290 non-null  int64
 7   Site Name                          22290 non-null  object
 8   DAILY_OBS_COUNT                    22290 non-null  int64
 9   PERCENT_COMPLETE                   22290 non-null  float64
 10  AQS_PARAMETER_CODE                 22290 non-null  int64
 11  AQS_PARAMETER_DESC                 22290 non-null  object
 12  CBSA_CODE                          22290 non-null  int64
 13  CBSA_NAME                          22290 non-null  object
 14  STATE_CODE                         22290 non-null  int64
 15  STATE                              22290 non-null  object
 16  COUNTY_CODE                        22290 non-null  int64
 17  COUNTY                             22290 non-null  object
 18  SITE_LATITUDE                      22290 non-null  float64
 19  SITE_LONGITUDE                     22290 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 3.4+ MB

In [17]:
#We notice that 'Date' is not a Datetime format
#convert 'Date' to datetime dtype. We choose this specific arrangement as opposed to
# %d/%m/%y because the data is rcorded that way originally. This is why first inspection of the CSV file is necessary
pd.to_datetime(co_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(pm10_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(pm25_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(no2_19['Date'], format = "%m/%d/%Y")
pd.to_datetime(o3_19['Date'], format = "%m/%d/%Y")

0       2019-01-01
1       2019-01-02
2       2019-01-03
3       2019-01-04
4       2019-01-05
           ...
57725   2019-12-07
57726   2019-12-27
57727   2019-12-28
57728   2019-12-29
57729   2019-12-30
Name: Date, Length: 57730, dtype: datetime64[ns]

In [18]:
#Now we will groupby() date and assign that to the original dataset. 
#Rationale for grouping by date: for every day, there is around -+50 entries; one recodrding for each county
#It's best to see the big picture and just view the concenration of that pollutant over that day,
#aka instead of +2000 entries /rows for each dataset we will get only 365 or so depending on if there are any missing dates
#grouping by date will automatically eliminates the column 'County'
co_19=co_19.groupby('Date').mean()
o3_19=o3_19.groupby('Date').mean()
no2_19=no2_19.groupby('Date').mean()
pm10_19=pm10_19.groupby('Date').mean()
pm25_19=pm25_19.groupby('Date').mean()

C:\Users\Thekra\AppData\Local\Temp\ipykernel_5828\3832656372.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  co_19=co_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_5828\3832656372.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  o3_19=o3_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_5828\3832656372.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  no2_19=no2_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_5828\3832656372.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pm10_19=pm10_19.groupby('Date').mean()
C:\Users\Thekra\AppData\Local\Temp\ipykernel_5828\3832656372.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pm25_19=pm25_19.groupby('Date').mean()

In [19]:
#take a look at an example
no2_19.head()

,Site ID,POC,Daily Max 1-hour NO2 Concentration,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,CBSA_CODE,STATE_CODE,COUNTY_CODE,SITE_LATITUDE,SITE_LONGITUDE
Date,,,,,,,,,,,,
01/01/2019,6.054638e+07,1.166667,19.560417,18.093750,23.177083,96.708333,42602.0,36027.500000,6.0,54.479167,35.704739,-119.580122
01/02/2019,6.054638e+07,1.166667,29.459375,27.520833,22.843750,95.333333,42602.0,36027.500000,6.0,54.479167,35.704739,-119.580122
01/03/2019,6.054668e+07,1.163265,30.051020,28.030612,22.959184,95.795918,42602.0,36023.673469,6.0,54.510204,35.686228,-119.569303
01/04/2019,6.054689e+07,1.163265,32.317347,30.214286,23.000000,95.979592,42602.0,36040.000000,6.0,54.530612,35.675181,-119.564776
01/05/2019,6.054689e+07,1.163265,24.112245,22.438776,23.051020,96.204082,42602.0,36040.000000,6.0,54.530612,35.675181,-119.564776

Notice that 'County' and 'Units' were gone after grouping. 
>Explain why?

In [20]:
#for this dataset, 365 data entries (as expected) where previously it was 34,515 
no2_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2019 to 12/31/2019
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Site ID                             365 non-null    float64
 1   POC                                 365 non-null    float64
 2   Daily Max 1-hour NO2 Concentration  365 non-null    float64
 3   DAILY_AQI_VALUE                     365 non-null    float64
 4   DAILY_OBS_COUNT                     365 non-null    float64
 5   PERCENT_COMPLETE                    365 non-null    float64
 6   AQS_PARAMETER_CODE                  365 non-null    float64
 7   CBSA_CODE                           365 non-null    float64
 8   STATE_CODE                          365 non-null    float64
 9   COUNTY_CODE                         365 non-null    float64
 10  SITE_LATITUDE                       365 non-null    float64
 11  SITE_LONGITUDE                      365 non-null    float64
dtypes: float64(12)
memory usage: 37.1+ KB

Next step: eliminate the following columns because of their irrelevance: Site ID, POC, Dails AQI, Daily OBS, AQSParamerter code, CBSA_code. StateCode, CountyCoe, Site latitude, site longitude
> I've decided to keep 'SITE ID' just in case the analysis shows something interesting and we want to delve deeper in analysis
> Update: Site ID is not important because it numerical and after merging all sites will be calculated as avergaes so I'll delete that

In [21]:
co_19.drop(['Site ID','POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)
pm25_19.drop(['Site ID','POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)
pm10_19.drop(['Site ID','POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)
o3_19.drop(['Site ID','POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)
no2_19.drop(['Site ID','POC','CBSA_CODE','DAILY_AQI_VALUE','DAILY_OBS_COUNT',
             'AQS_PARAMETER_CODE','STATE_CODE','COUNTY_CODE','SITE_LATITUDE','SITE_LONGITUDE'], axis=1, inplace=True)

In [22]:
#have a look at the results
o3_19.head()

            Daily Max 8-hour Ozone Concentration  PERCENT_COMPLETE
Date
01/01/2019                              0.033000         99.734177
01/02/2019                              0.030066         99.523179
01/03/2019                              0.028192         99.384615
01/04/2019                              0.028737         99.884615
01/05/2019                              0.031823         99.810127

In [23]:
#Nice. Now, are we misisng any dates?
print(co_19.shape)
print(no2_19.shape)
print(o3_19.shape)
print(pm10_19.shape)
print(pm25_19.shape)

(365, 2)
(365, 2)
(364, 2)
(365, 2)
(365, 2)

In [24]:
#missing dates in o3. It's fun to find find which day it is :)
pd.date_range(start = '2019-01-01', end = '2019-12-31').difference(o3_19.index)

DatetimeIndex(['2019-12-31'], dtype='datetime64[ns]', freq=None)

In [25]:
#the result told us that the missing date is December 31. Let's check of thats true:
o3_19.tail()

            Daily Max 8-hour Ozone Concentration  PERCENT_COMPLETE
Date
12/26/2019                              0.031275         99.607843
12/27/2019                              0.029230         99.447368
12/28/2019                              0.029285         99.506329
12/29/2019                              0.028924         99.582278
12/30/2019                              0.028506         99.582278

Next Step: rename columns
First explore all the columns that we have so far after grouping by and dropping others, then rename

In [26]:
#Ok cool. Are we missing any data points at all?
print(co_19.isna().any())
print(o3_19.isna().any())
print(no2_19.isna().any())
print(pm10_19.isna().any())
print(pm25_19.isna().any())

Daily Max 8-hour CO Concentration    False
PERCENT_COMPLETE                     False
dtype: bool
Daily Max 8-hour Ozone Concentration    False
PERCENT_COMPLETE                        False
dtype: bool
Daily Max 1-hour NO2 Concentration    False
PERCENT_COMPLETE                      False
dtype: bool
Daily Mean PM10 Concentration    False
PERCENT_COMPLETE                 False
dtype: bool
Daily Mean PM2.5 Concentration    False
PERCENT_COMPLETE                  False
dtype: bool

In [27]:
print(co_19.columns)
print(no2_19.columns)
print(o3_19.columns)
print(pm10_19.columns)
print(pm25_19.columns)

Index(['Daily Max 8-hour CO Concentration', 'PERCENT_COMPLETE'], dtype='object')
Index(['Daily Max 1-hour NO2 Concentration', 'PERCENT_COMPLETE'], dtype='object')
Index(['Daily Max 8-hour Ozone Concentration', 'PERCENT_COMPLETE'], dtype='object')
Index(['Daily Mean PM10 Concentration', 'PERCENT_COMPLETE'], dtype='object')
Index(['Daily Mean PM2.5 Concentration', 'PERCENT_COMPLETE'], dtype='object')

In [28]:
#rename columns
co_19.rename(columns={'Site ID':'site_id', 'Daily Max 8-hour CO Concentration':'daily_max_co','PERCENT_COMPLETE':'percent_complete'}, inplace=True)

In [29]:
no2_19.rename(columns={'Site ID':'site_id','Daily Max 1-hour NO2 Concentration':'daily_max_no2', 'PERCENT_COMPLETE':'percent_complete'}, inplace=True)
o3_19.rename(columns={'Site ID':'site_id','Daily Max 8-hour Ozone Concentration':'daily_max_o3','PERCENT_COMPLETE':'percent_complete'}, inplace=True)
pm10_19.rename(columns={'Site ID':'site_id','Daily Mean PM10 Concentration':'daily_mean_pm10','PERCENT_COMPLETE':'percent_complete'}, inplace=True)
pm25_19.rename(columns={'Site ID':'site_id','Daily Mean PM2.5 Concentration':'daily_mean_pm2.5','PERCENT_COMPLETE':'percent_complete'}, inplace=True)

Rename percent_complete to indicate each percent_complete is specific to each pollutant (e.g. percent_complete_co3) so they dont get mergened togther after we pd.merge(). or explore any specific information provided in this column each dataset on its own beofore moving foreward with this dataset

In [30]:
#have a look at how it looks now 
pm10_19

            daily_mean_pm10  percent_complete
Date
01/01/2019        16.166667             100.0
01/02/2019        17.734940             100.0
01/03/2019        24.357664             100.0
01/04/2019        23.626506             100.0
01/05/2019        19.404762             100.0
...                     ...               ...
12/27/2019        10.439024             100.0
12/28/2019        15.768293             100.0
12/29/2019        15.425373             100.0
12/30/2019        11.462500             100.0
12/31/2019        14.975610             100.0

[365 rows x 2 columns]

Before we merge let's explore something fun and interesting to hone our coding skills. 
According to the dictionary, a minimum percent complete for any pollutant on any given day of 75% is required. 
Lets explore if any percent_complete is below 75?

In [31]:
co_19.dtypes

daily_max_co        float64
percent_complete    float64
dtype: object

In [32]:
#It is not possible to query the column percent_complete if it is object dtype.
#Below I tried to convert 'percent complete into an int. but I forgot that there are commas in the numbers aks float 
#the error message was basically saying that i'd lose percsion if i convert from object to int

In [33]:
co_19.astype('float64')

            daily_max_co  percent_complete
Date
01/01/2019      0.477049         75.868852
01/02/2019      0.685246         95.786885
01/03/2019      0.766129         96.580645
01/04/2019      0.830645         98.129032
01/05/2019      0.840323         99.193548
...                  ...               ...
12/27/2019      0.608333         96.550000
12/28/2019      0.693333         98.683333
12/29/2019      0.788333         98.966667
12/30/2019      0.698333         99.033333
12/31/2019      0.648333         96.066667

[365 rows x 2 columns]

In [34]:
#find any % compete below 75
(co_19['percent_complete'] < 75.0).any()

False

In [35]:
#lets do the same for the rest
no2_19.astype('float64')
o3_19.astype('float64')
pm10_19.astype('float64')
pm25_19.astype('float64')

            daily_mean_pm2.5  percent_complete
Date
01/01/2019          9.606452             100.0
01/02/2019         12.747414             100.0
01/03/2019         16.041667             100.0
01/04/2019         18.258065             100.0
01/05/2019         11.968293             100.0
...                      ...               ...
12/27/2019          7.513821             100.0
12/28/2019         12.344715             100.0
12/29/2019         12.076020             100.0
12/30/2019          8.441667             100.0
12/31/2019         11.286508             100.0

[365 rows x 2 columns]

In [36]:
print((no2_19['percent_complete'] < 75.0).any())
print((o3_19['percent_complete'] < 75.0).any())
print((pm10_19['percent_complete'] < 75.0).any())
print((pm25_19['percent_complete'] < 75.0).any())

False
False
False
False

In [37]:
#Now that I no longer need the percent_complete I'll drop them because it
#will effect the way I merge all the datasets and will not be menaingful anymore
co_19.drop(['percent_complete'], axis=1,inplace=True)

In [38]:
no2_19.drop(['percent_complete'], axis=1, inplace=True)
o3_19.drop(['percent_complete'], axis=1, inplace=True)
pm10_19.drop(['percent_complete'], axis=1, inplace=True)
pm25_19.drop(['percent_complete'], axis=1, inplace=True)

In [39]:
co_19

            daily_max_co
Date
01/01/2019      0.477049
01/02/2019      0.685246
01/03/2019      0.766129
01/04/2019      0.830645
01/05/2019      0.840323
...                  ...
12/27/2019      0.608333
12/28/2019      0.693333
12/29/2019      0.788333
12/30/2019      0.698333
12/31/2019      0.648333

[365 rows x 1 columns]

Next Step: Merge 2019 datasets together

In [40]:
from functools import reduce

In [41]:
df2019=[co_19,o3_19,no2_19,pm10_19,pm25_19]

In [42]:
#how='outer': This results in the union of keys from both frames. All rows from both DataFrames will be included,
#filling in NaNs where necessary if a key is present in one frame but not in the other
air2019 = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='outer'), df2019)
print(air2019)

            daily_max_co  daily_max_o3  daily_max_no2  daily_mean_pm10  \
Date
01/01/2019      0.477049      0.033000      19.560417        16.166667
01/02/2019      0.685246      0.030066      29.459375        17.734940
01/03/2019      0.766129      0.028192      30.051020        24.357664
01/04/2019      0.830645      0.028737      32.317347        23.626506
01/05/2019      0.840323      0.031823      24.112245        19.404762
...                  ...           ...            ...              ...
12/27/2019      0.608333      0.029230      24.465556        10.439024
12/28/2019      0.693333      0.029285      23.453846        15.768293
12/29/2019      0.788333      0.028924      20.415217        15.425373
12/30/2019      0.698333      0.028506      23.014130        11.462500
12/31/2019      0.648333           NaN      23.470330        14.975610

            daily_mean_pm2.5
Date
01/01/2019          9.606452
01/02/2019         12.747414
01/03/2019         16.041667
01/04/2019         18.258065
01/05/2019         11.968293
...                      ...
12/27/2019          7.513821
12/28/2019         12.344715
12/29/2019         12.076020
12/30/2019          8.441667
12/31/2019         11.286508

[365 rows x 5 columns]

In [43]:
air2019

,daily_max_co,daily_max_o3,daily_max_no2,daily_mean_pm10,daily_mean_pm2.5
Date,,,,,
01/01/2019,0.477049,0.033000,19.560417,16.166667,9.606452
01/02/2019,0.685246,0.030066,29.459375,17.734940,12.747414
01/03/2019,0.766129,0.028192,30.051020,24.357664,16.041667
01/04/2019,0.830645,0.028737,32.317347,23.626506,18.258065
01/05/2019,0.840323,0.031823,24.112245,19.404762,11.968293
...,...,...,...,...,...
12/27/2019,0.608333,0.029230,24.465556,10.439024,7.513821
12/28/2019,0.693333,0.029285,23.453846,15.768293,12.344715
12/29/2019,0.788333,0.028924,20.415217,15.425373,12.076020
12/30/2019,0.698333,0.028506,23.014130,11.462500,8.441667
12/31/2019,0.648333,NaN,23.470330,14.975610,11.286508

2020 Datasets

In [44]:
co_20

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2020,AQS,60010009,1,0.7,ppm,8,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2020,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2020,AQS,60010009,1,0.9,ppm,10,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2020,AQS,60010009,1,0.8,ppm,9,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2020,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22130,12/27/2020,AQS,60990005,3,1.1,ppm,13,Modesto-14th Street,24,100.0,42101,Carbon monoxide,33700,"Modesto, CA",6,California,99,Stanislaus,37.642165,-120.994212
22131,12/28/2020,AQS,60990005,3,1.1,ppm,13,Modesto-14th Street,24,100.0,42101,Carbon monoxide,33700,"Modesto, CA",6,California,99,Stanislaus,37.642165,-120.994212
22132,12/29/2020,AQS,60990005,3,1.6,ppm,18,Modesto-14th Street,24,100.0,42101,Carbon monoxide,33700,"Modesto, CA",6,California,99,Stanislaus,37.642165,-120.994212
22133,12/30/2020,AQS,60990005,3,1.7,ppm,19,Modesto-14th Street,24,100.0,42101,Carbon monoxide,33700,"Modesto, CA",6,California,99,Stanislaus,37.642165,-120.994212
22134,12/31/2020,AQS,60990005,3,1.1,ppm,13,Modesto-14th Street,24,100.0,42101,Carbon monoxide,33700,"Modesto, CA",6,California,99,Stanislaus,37.642165,-120.994212

In [45]:
#Same number of counties
print(co_20.COUNTY.nunique())
print(pm10_20.COUNTY.nunique())
print(no2_20.COUNTY.nunique())
print(pm25_20.COUNTY.nunique())
print(o3_20.COUNTY.nunique())

25
43
33
51
49

In [46]:
#explore data type
co_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22135 entries, 0 to 22134
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               22135 non-null  object
 1   Source                             22135 non-null  object
 2   Site ID                            22135 non-null  int64
 3   POC                                22135 non-null  int64
 4   Daily Max 8-hour CO Concentration  22135 non-null  float64
 5   UNITS                              22135 non-null  object
 6   DAILY_AQI_VALUE                    22135 non-null  int64
 7   Site Name                          22135 non-null  object
 8   DAILY_OBS_COUNT                    22135 non-null  int64
 9   PERCENT_COMPLETE                   22135 non-null  float64
 10  AQS_PARAMETER_CODE                 22135 non-null  int64
 11  AQS_PARAMETER_DESC                 22135 non-null  object
 12  CBSA_CODE                          22135 non-null  int64
 13  CBSA_NAME                          22135 non-null  object
 14  STATE_CODE                         22135 non-null  int64
 15  STATE                              22135 non-null  object
 16  COUNTY_CODE                        22135 non-null  int64
 17  COUNTY                             22135 non-null  object
 18  SITE_LATITUDE                      22135 non-null  float64
 19  SITE_LONGITUDE                     22135 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 3.4+ MB

In [57]:
#We notice that 'Date' is not a Datetime format
#convert 'Date' to datetime dtype. We choose this specific arrangement as opposed to
# %d/%m/%y because the data is rcorded that way originally. This is why first inspection of the CSV file is necessary
co_20['Date']=pd.to_datetime(co_20['Date'], format = "%m/%d/%Y")
pm10_20['Date']=pd.to_datetime(pm10_20['Date'], format = "%m/%d/%Y")
pm25_20['Date']=pd.to_datetime(pm25_20['Date'], format = "%m/%d/%Y")
no2_20['Date']=pd.to_datetime(no2_20['Date'], format = "%m/%d/%Y")
o3_20['Date']=pd.to_datetime(o3_20['Date'], format = "%m/%d/%Y")

In [56]:
co_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22135 entries, 0 to 22134
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               22135 non-null  datetime64[ns]
 1   Source                             22135 non-null  object
 2   Site ID                            22135 non-null  int64
 3   POC                                22135 non-null  int64
 4   Daily Max 8-hour CO Concentration  22135 non-null  float64
 5   UNITS                              22135 non-null  object
 6   DAILY_AQI_VALUE                    22135 non-null  int64
 7   Site Name                          22135 non-null  object
 8   DAILY_OBS_COUNT                    22135 non-null  int64
 9   PERCENT_COMPLETE                   22135 non-null  float64
 10  AQS_PARAMETER_CODE                 22135 non-null  int64
 11  AQS_PARAMETER_DESC                 22135 non-null  object
 12  CBSA_CODE                          22135 non-null  int64
 13  CBSA_NAME                          22135 non-null  object
 14  STATE_CODE                         22135 non-null  int64
 15  STATE                              22135 non-null  object
 16  COUNTY_CODE                        22135 non-null  int64
 17  COUNTY                             22135 non-null  object
 18  SITE_LATITUDE                      22135 non-null  float64
 19  SITE_LONGITUDE                     22135 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(7)
memory usage: 3.4+ MB

--------------------------------------------------------------------------------------------------

In [49]:
#df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
#df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

#result = pd.concat([df1, df2])
#result = pd.concat([df1, df2], axis=1)
#print(result)

In [50]:
#df1 = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3']})
#df2 = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

#result = pd.merge(df1, df2)
#print(result)

IndentationError: unexpected indent (2386845606.py, line 2)

In [ ]:
#set 'Date' as the index
co_19.set_index('Date')
o3_19.set_index('Date')
no2_19.set_index('Date')
pm10_19.set_index('Date')
pm25_19.set_index('Date')

In [ ]:
#perform groupby() on each of the 5 air quality datasets to get the daily average concentration for each county
co_19_mean= co_19.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
pm10_19_mean= pm10_19.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm25_19_mean = pm25_19.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_19_mean = o3_19.sort_index().groupby(['Date', 'COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_19_mean = no2_19.sort_index().groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [ ]:
#the concatenated df of 2019 datasets should have 19,345 rows (364 days * 53 counties)
air19= pd.concat([co_19_mean, pm10_19_mean, pm25_19_mean, o3_19_mean, no2_19_mean], join='outer', axis=1)
air19

In [ ]:
#find missing dates if there's any
pd.date_range(start = '2019-01-01', end = '2019-12-31').difference(air19.index)

In [ ]:
#even if some counties don't have measueemnet for a specifc pollutatnt, it should be listed and have NaN for the value of that specifc pollutant

In [ ]:
#check the number of counties in the dataset. counties are now indecies after appkying groupby()
list(air19.index)

In [ ]:
air19.index.unique(level='COUNTY').value_counts().sum()

In [ ]:
#find columns with no recodidings on a specifc day (which indicates wrong calculation)
air19[air19.isnull().all(axis=1)]

In [ ]:
air19[air19.isnull().any(axis=1)]

In [ ]:
#apply groupby() to each of the 5 air quality datasets from 2020 to get the daily average concentration for each county
co_20_mean= co_20.sort_index().groupby(['Date', 'COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
pm10_20_mean= pm10_20.sort_index().groupby(['Date', 'COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm25_20_mean = pm25_20.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_20_mean = o3_20.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_20_mean = no2_20.sort_index().groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [ ]:
#concatenate 2019 and 2020 data
air20= pd.concat([air19, co_20_mean, pm10_20_mean, pm25_20_mean, o3_20_mean, no2_20_mean], join='outer')
air20

In [ ]:
air20.reset_index(inplace=True)

In [ ]:
new_df21.info()

In [ ]:
new_df21[['Date', 'COUNTY']].duplicated().sum()

In [ ]:
#apply groupby() on each of the 5 air quality datasets from 2021 to get the daily average concentration for each county
co_21_mean= co_21.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
pm10_21_mean= pm10_21.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm25_21_mean = pm25_21.sort_index().groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_21_mean = o3_21.sort_index().groupby(['Date', 'COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_21_mean = no2_21.sort_index().groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [ ]:
co_21.sort_index().groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)

In [ ]:
print(co_21_mean.shape)
print(no2_21_mean.shape)
print(o3_21_mean.shape)
print(pm10_21_mean.shape)
print(pm25_21_mean.shape)

In [ ]:
#new_df20.reset_index(inplace=True)

In [ ]:
#co_21_mean.reset_index(inplace=True)
#pm10_21_mean.reset_index(inplace=True)
#pm25_21_mean.reset_index(inplace=True)
#o3_21_mean.reset_index(inplace=True)
#no2_21_mean.reset_index(inplace=True)

In [ ]:
#the concatenated df of 2021 datasets should have 19,345 rows
air21= pd.merge([co_21_mean, pm10_21_mean, pm25_21_mean, o3_21_mean, no2_21_mean], on='Date')
air21

In [ ]:
#the concatenated df of 2021 datasets should have 18,980 rows (52 counties * 365 days)
air21= pd.concat([co_21_mean, pm10_21_mean, pm25_21_mean, o3_21_mean, no2_21_mean], join='outer', axis=1)
air21

In [ ]:
#number of counties in 2021 dataset
air21.index.unique(level='COUNTY').value_counts().sum()

In [ ]:
#check for missing dates
pd.date_range(start = '2021-01-01', end = '2021-12-31').difference(air19.index)

In [ ]:
air21.reset_index(inplace=True)

In [ ]:
#check for duplicates
air21.duplicated().value_counts()

In [ ]:
#check the unique counties in COVID-19 and air19 datasets
cov_county = list(covid.area.unique())
cov_county

In [ ]:
covid.area.unique()

In [ ]:
[x for x in covid.area.unique() if x not in air19.index]

In [ ]:
for x in covid.area.unique():
    if x not in co_19.COUNTY.unique():
        print(x)

In [ ]:
list(air21.index.values.sum())

In [ ]:
air21.index.values.tolist()

------------------------------------------------------------------------------------------------------------

In [ ]:
co_19.set_index('Date')
o3_19.set_index('Date')
no2_19.set_index('Date')
pm10_19.set_index('Date')
pm25_19.set_index('Date')
co_20.set_index('Date')
o3_20.set_index('Date')
no2_20.set_index('Date')
pm10_20.set_index('Date')
pm25_20.set_index('Date')

In [ ]:
#concat() 2019 data
new_df= pd.concat([co_19, pm10_19, pm25_19, o3_19, no2_19], join='outer', axis=1)
new_df

In [ ]:
#concat 2019 and 2020 data
new_df20= pd.concat([new_df, co_20, pm10_20, pm25_20, o3_20, no2_20], join='outer')
new_df20

In [ ]:
new_df = pd.concat([co_19, no2_19, o3_19, pm25_19, pm10_19])

new_df_county= list(new_df.COUNTY.unique())
cov_county = list(covid.area.unique())

[x for x in cov_county if x not in new_df_county]

In [ ]:
new_df

In [ ]:
counties = {'county':['Alameda','Amador','Butte','Calaveras','Colusa', 'Contra Costa', 'Del Norte',
'El Dorado','Fresno', 'Glenn','Humboldt','Imperial','Inyo','Kern','Kings','Lake','Los Angeles','Madera',
'Marin','Mariposa','Merced', 'Mono','Monterey','Napa','Nevada','Orange','Placer','Plumas','Riverside','Sacramento',
'San Benito','San Bernardino','San Diego','San Francisco','San Joaquin','San Luis Obispo','San Mateo','Santa Barbara',
'Santa Clara','Santa Cruz','Shasta','Siskiyou','Solano','Sonoma','Stanislaus','Sutter','Tehama','Trinity','Tulare',
'Tuolumne','Ventura','Yolo']}

In [ ]:
df= pd.DataFrame(counties)
df

In [ ]:
df['date']=pd.date_range(start='2021-01-01', end= '2021-12-31')

In [ ]:
df_county_date= pd.date_range(start='2021-01-01', end= '2021-12-31')
df_county_date

In [ ]:
df_county_date['county']= counties

Final thoughts:
> You can search for exactly which counties are missing and dig deeper in analysis. You might create a list of all the countiyes of California then use glob() or any relevant method 
> It's important to understant why some pollutants recorded as Max while others at Mean