In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#load 2019 air quality data
co_19 = pd.read_csv('data/2019/CO_2019.csv')
no2_19 = pd.read_csv('data/2019/NO2_2019.csv')
o3_19 = pd.read_csv('data/2019/O3_2019.csv')
pm25_19= pd.read_csv('data/2019/PM2.5_2019.csv')
pm10_19 =pd.read_csv('data/2019/PM10_2019.csv')

In [4]:
#load 2020 air quality data
co_20 = pd.read_csv('data/2020/CO_2020.csv')
no2_20 = pd.read_csv('data/2020/NO2_2020.csv')
o3_20 = pd.read_csv('data/2020/O3_2020.csv')
pm25_20= pd.read_csv('data/2020/PM2.5_2020.csv')
pm10_20 =pd.read_csv('data/2020/PM10_2020.csv')

In [5]:
#load 2021 air quality data
co_21 = pd.read_csv('data/2021/CO_2021.csv')
no2_21 = pd.read_csv('data/2021/NO2_2021.csv')
o3_21 = pd.read_csv('data/2021/O3_2021.csv')
pm25_21= pd.read_csv('data/2021/PM2.5_2021.csv')
pm10_21 =pd.read_csv('data/2021/PM10_2021.csv')

In [6]:
#explore dataset (note that all the datasets have the same features)
co_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22290 entries, 0 to 22289
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               22290 non-null  object
 1   Source                             22290 non-null  object
 2   Site ID                            22290 non-null  int64
 3   POC                                22290 non-null  int64
 4   Daily Max 8-hour CO Concentration  22290 non-null  float64
 5   UNITS                              22290 non-null  object
 6   DAILY_AQI_VALUE                    22290 non-null  int64
 7   Site Name                          22290 non-null  object
 8   DAILY_OBS_COUNT                    22290 non-null  int64
 9   PERCENT_COMPLETE                   22290 non-null  float64
 10  AQS_PARAMETER_CODE                 22290 non-null  int64
 11  AQS_PARAMETER_DESC                 22290 non-null  object
 12  CBSA_CODE                          22290 non-null  int64
 13  CBSA_NAME                          22290 non-null  object
 14  STATE_CODE                         22290 non-null  int64
 15  STATE                              22290 non-null  object
 16  COUNTY_CODE                        22290 non-null  int64
 17  COUNTY                             22290 non-null  object
 18  SITE_LATITUDE                      22290 non-null  float64
 19  SITE_LONGITUDE                     22290 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 3.4+ MB

In [42]:
print(pm10_19.isnull().sum())
print(pm25_19.isnull().sum())
print(o3_19.isnull().sum())
print(co_19.isnull().sum())
print(no2_19.isnull().sum())

Date                                0
Source                              0
Site ID                             0
POC                                 0
Daily Mean PM10 Concentration       0
UNITS                               0
DAILY_AQI_VALUE                     0
Site Name                           0
DAILY_OBS_COUNT                     0
PERCENT_COMPLETE                    0
AQS_PARAMETER_CODE                  0
AQS_PARAMETER_DESC                  0
CBSA_CODE                        2565
CBSA_NAME                        2565
STATE_CODE                          0
STATE                               0
COUNTY_CODE                         0
COUNTY                              0
SITE_LATITUDE                       0
SITE_LONGITUDE                      0
dtype: int64
Date                                 0
Source                               0
Site ID                              0
POC                                  0
Daily Mean PM2.5 Concentration       0
UNITS                                0
DAILY_AQI_VALUE                      0
Site Name                          102
DAILY_OBS_COUNT                      0
PERCENT_COMPLETE                     0
AQS_PARAMETER_CODE                   0
AQS_PARAMETER_DESC                   0
CBSA_CODE                         4181
CBSA_NAME                         4181
STATE_CODE                           0
STATE                                0
COUNTY_CODE                          0
COUNTY                               0
SITE_LATITUDE                        0
SITE_LONGITUDE                       0
dtype: int64
Date                                       0
Source                                     0
Site ID                                    0
POC                                        0
Daily Max 8-hour Ozone Concentration       0
UNITS                                      0
DAILY_AQI_VALUE                            0
Site Name                                  0
DAILY_OBS_COUNT                            0
PERCENT_COMPLETE                           0
AQS_PARAMETER_CODE                         0
AQS_PARAMETER_DESC                         0
CBSA_CODE                               2284
CBSA_NAME                               2284
STATE_CODE                                 0
STATE                                      0
COUNTY_CODE                                0
COUNTY                                     0
SITE_LATITUDE                              0
SITE_LONGITUDE                             0
dtype: int64
Date                                 0
Source                               0
Site ID                              0
POC                                  0
Daily Max 8-hour CO Concentration    0
UNITS                                0
DAILY_AQI_VALUE                      0
Site Name                            0
DAILY_OBS_COUNT                      0
PERCENT_COMPLETE                     0
AQS_PARAMETER_CODE                   0
AQS_PARAMETER_DESC                   0
CBSA_CODE                            0
CBSA_NAME                            0
STATE_CODE                           0
STATE                                0
COUNTY_CODE                          0
COUNTY                               0
SITE_LATITUDE                        0
SITE_LONGITUDE                       0
dtype: int64
Date                                  0
Source                                0
Site ID                               0
POC                                   0
Daily Max 1-hour NO2 Concentration    0
UNITS                                 0
DAILY_AQI_VALUE                       0
Site Name                             0
DAILY_OBS_COUNT                       0
PERCENT_COMPLETE                      0
AQS_PARAMETER_CODE                    0
AQS_PARAMETER_DESC                    0
CBSA_CODE                             0
CBSA_NAME                             0
STATE_CODE                            0
STATE                                 0
COUNTY_CODE                           0
COUNTY                                0
SITE_LATITUDE                         0
SITE_LONGITUDE                        0
dtype: int64

In [ ]:
#non of the concentration columns have negative values, and COUNTY_CODE and COUNTY will be dropped anyway

In [30]:
#concatenate all 2019 datadets as they all have the same features and dtype
air19 = pd.concat([co_19, no2_19, o3_19, pm25_19, pm10_19])
air19

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,...,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE,Daily Max 1-hour NO2 Concentration,Daily Max 8-hour Ozone Concentration,Daily Mean PM2.5 Concentration,Daily Mean PM10 Concentration
0,01/01/2019,AQS,60010009,1,0.4,ppm,5,Oakland,18,75.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
1,01/02/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
2,01/03/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
3,01/04/2019,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
4,01/05/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33590,12/05/2019,AQS,61132001,1,NaN,ug/m3 SC,10,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,11.0
33591,12/11/2019,AQS,61132001,1,NaN,ug/m3 SC,15,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,16.0
33592,12/17/2019,AQS,61132001,1,NaN,ug/m3 SC,19,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,20.0
33593,12/23/2019,AQS,61132001,1,NaN,ug/m3 SC,7,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,8.0
33594,12/29/2019,AQS,61132001,1,NaN,ug/m3 SC,16,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,17.0

In [36]:
air19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201286 entries, 0 to 33594
Data columns (total 24 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Date                                  201286 non-null  object
 1   Source                                201286 non-null  object
 2   Site ID                               201286 non-null  int64
 3   POC                                   201286 non-null  int64
 4   Daily Max 8-hour CO Concentration     22290 non-null   float64
 5   UNITS                                 201286 non-null  object
 6   DAILY_AQI_VALUE                       201286 non-null  int64
 7   Site Name                             201184 non-null  object
 8   DAILY_OBS_COUNT                       201286 non-null  int64
 9   PERCENT_COMPLETE                      201286 non-null  float64
 10  AQS_PARAMETER_CODE                    201286 non-null  int64
 11  AQS_PARAMETER_DESC                    201286 non-null  object
 12  CBSA_CODE                             192256 non-null  float64
 13  CBSA_NAME                             192256 non-null  object
 14  STATE_CODE                            201286 non-null  int64
 15  STATE                                 201286 non-null  object
 16  COUNTY_CODE                           201286 non-null  int64
 17  COUNTY                                201286 non-null  object
 18  SITE_LATITUDE                         201286 non-null  float64
 19  SITE_LONGITUDE                        201286 non-null  float64
 20  Daily Max 1-hour NO2 Concentration    34515 non-null   float64
 21  Daily Max 8-hour Ozone Concentration  57730 non-null   float64
 22  Daily Mean PM2.5 Concentration        53156 non-null   float64
 23  Daily Mean PM10 Concentration         33595 non-null   float64
dtypes: float64(9), int64(7), object(8)
memory usage: 38.4+ MB

In [39]:
air19.isnull().sum()

Date                                         0
Source                                       0
Site ID                                      0
POC                                          0
Daily Max 8-hour CO Concentration       178996
UNITS                                        0
DAILY_AQI_VALUE                              0
Site Name                                  102
DAILY_OBS_COUNT                              0
PERCENT_COMPLETE                             0
AQS_PARAMETER_CODE                           0
AQS_PARAMETER_DESC                           0
CBSA_CODE                                 9030
CBSA_NAME                                 9030
STATE_CODE                                   0
STATE                                        0
COUNTY_CODE                                  0
COUNTY                                       0
SITE_LATITUDE                                0
SITE_LONGITUDE                               0
Daily Max 1-hour NO2 Concentration      166771
Daily Max 8-hour Ozone Concentration    143556
Daily Mean PM2.5 Concentration          148130
Daily Mean PM10 Concentration           167691
dtype: int64

In [38]:
#create a dataframe with the null values only
air119 = air19[air19.isna().any(axis=1)]
air119

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,...,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE,Daily Max 1-hour NO2 Concentration,Daily Max 8-hour Ozone Concentration,Daily Mean PM2.5 Concentration,Daily Mean PM10 Concentration
0,01/01/2019,AQS,60010009,1,0.4,ppm,5,Oakland,18,75.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
1,01/02/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
2,01/03/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
3,01/04/2019,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
4,01/05/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,...,6,California,1,Alameda,37.743065,-122.169935,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33590,12/05/2019,AQS,61132001,1,NaN,ug/m3 SC,10,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,11.0
33591,12/11/2019,AQS,61132001,1,NaN,ug/m3 SC,15,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,16.0
33592,12/17/2019,AQS,61132001,1,NaN,ug/m3 SC,19,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,20.0
33593,12/23/2019,AQS,61132001,1,NaN,ug/m3 SC,7,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,8.0
33594,12/29/2019,AQS,61132001,1,NaN,ug/m3 SC,16,West Sacramento-15th Street,1,100.0,...,6,California,113,Yolo,38.571460,-121.525790,NaN,NaN,NaN,17.0

**_Dropping the colunms that are redundenat or irrelevant to our analysis_**

<Source> source of data is unnecessary, furthermore, all the data is from AQS\
<Site ID, Site Name, POC>> monitoring device/station ID code or name is unnecessary in my analysis since I have the name of the county they belong to\
<Units> each pollutant has its own well-defined unit\
<DAILY_OBS_COUNT'> is redundent with <PERCENTAGE_COMPLETE>\
<CBSA_CODE, CBSA_NAME> are unnecessary for my analysis and each CBSA belongs to ONE specifc <COUNTY, COUNTY_CODE>\
<STATE, STATE_CODE> all of the data belongs to the state of California; no other states are included\
<COUNTY> is redundenat with <COUNTY_CODE>

In [8]:
#since we have the same features across all the dataframes, create a function to drop the same columns from each dataframe
'Source', 'Site ID', 'POC', 'Units', 'Site Name', 'DAILY_OBS_COUNT', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME', 'STATE', 'STATE_CODE', 'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'