In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load 2019 air quality data
co_19 = pd.read_csv('data/2019/CO_2019.csv')
no2_19 = pd.read_csv('data/2019/NO2_2019.csv')
o3_19 = pd.read_csv('data/2019/O3_2019.csv')
pm25_19= pd.read_csv('data/2019/PM2.5_2019.csv')
pm10_19 =pd.read_csv('data/2019/PM10_2019.csv')

In [3]:
#load 2020 air quality data
co_20 = pd.read_csv('data/2020/CO_2020.csv')
no2_20 = pd.read_csv('data/2020/NO2_2020.csv')
o3_20 = pd.read_csv('data/2020/O3_2020.csv')
pm25_20= pd.read_csv('data/2020/PM2.5_2020.csv')
pm10_20 =pd.read_csv('data/2020/PM10_2020.csv')

In [4]:
#load 2021 air quality data
co_21 = pd.read_csv('data/2021/CO_2021.csv')
no2_21 = pd.read_csv('data/2021/NO2_2021.csv')
o3_21 = pd.read_csv('data/2021/O3_2021.csv')
pm25_21= pd.read_csv('data/2021/PM2.5_2021.csv')
pm10_21 =pd.read_csv('data/2021/PM10_2021.csv')

In [5]:
covid= pd.read_csv('data/COVID-19_CA/covid19cases_deaths.csv')

In [7]:
co_19.COUNTY.nunique()

25

In [8]:
pm10_19.COUNTY.nunique()

43

In [9]:
no2_19.COUNTY.nunique()

33

In [10]:
pm25_19.COUNTY.nunique()

51

In [11]:
o3_19.COUNTY.nunique()

49

In [12]:
co_19_mean= co_19.groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
co_19_mean

                          Daily Max 8-hour CO Concentration
Date       COUNTY
01/01/2019 Alameda                                     0.70
           Butte                                       0.70
           Contra Costa                                0.43
           Fresno                                      0.80
           Humboldt                                    0.50
...                                                     ...
12/31/2019 Santa Barbara                               0.25
           Santa Clara                                 1.10
           Solano                                      1.30
           Sonoma                                      0.60
           Stanislaus                                  0.50

[9096 rows x 1 columns]

In [13]:
pm10_19_mean= pm10_19.groupby(['Date', 'COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm10_19_mean

                       Daily Mean PM10 Concentration
Date       COUNTY
01/01/2019 Butte                               18.00
           Calaveras                           13.00
           Colusa                               6.00
           El Dorado                           37.00
           Fresno                              42.25
...                                              ...
12/31/2019 Sonoma                              12.33
           Stanislaus                          25.00
           Sutter                              20.00
           Tulare                              44.00
           Ventura                              5.00

[11877 rows x 1 columns]

In [14]:
pm25_19_mean = pm25_19.groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_19_mean = o3_19.groupby(['Date','COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_19_mean = no2_19.groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [30]:
co_20_mean= co_20.groupby(['Date','COUNTY'])[['Daily Max 8-hour CO Concentration']].mean().round(2)
pm10_20_mean= pm10_20.groupby(['Date', 'COUNTY'])[['Daily Mean PM10 Concentration']].mean().round(2)
pm25_20_mean = pm25_20.groupby(['Date','COUNTY'])[['Daily Mean PM2.5 Concentration']].mean().round(2)
o3_20_mean = o3_20.groupby(['Date','COUNTY'])[['Daily Max 8-hour Ozone Concentration']].mean().round(2)
no2_20_mean = no2_20.groupby(['Date','COUNTY'])[['Daily Max 1-hour NO2 Concentration']].mean().round(2)

In [94]:
new_df= pd.concat([pm10_19_mean, co_19_mean, pm25_19_mean, o3_19_mean, no2_19_mean], join='outer', axis=1)
new_df

                      Daily Mean PM10 Concentration  \
Date       COUNTY
01/01/2019 Alameda                              NaN
           Amador                               NaN
           Butte                               18.0
           Calaveras                           13.0
           Colusa                               6.0
...                                             ...
12/31/2019 Tehama                               NaN
           Trinity                              NaN
           Tulare                              44.0
           Ventura                              5.0
           Yolo                                 NaN

                      Daily Max 8-hour CO Concentration  \
Date       COUNTY
01/01/2019 Alameda                                  0.7
           Amador                                   NaN
           Butte                                    0.7
           Calaveras                                NaN
           Colusa                                   NaN
...                                                 ...
12/31/2019 Tehama                                   NaN
           Trinity                                  NaN
           Tulare                                   NaN
           Ventura                                  NaN
           Yolo                                     NaN

                      Daily Mean PM2.5 Concentration  \
Date       COUNTY
01/01/2019 Alameda                              4.63
           Amador                                NaN
           Butte                               10.47
           Calaveras                           17.90
           Colusa                               1.90
...                                              ...
12/31/2019 Tehama                               9.40
           Trinity                             16.20
           Tulare                              28.40
           Ventura                              1.50
           Yolo                                12.40

                      Daily Max 8-hour Ozone Concentration  \
Date       COUNTY
01/01/2019 Alameda                                    0.03
           Amador                                     0.03
           Butte                                      0.03
           Calaveras                                  0.03
           Colusa                                     0.03
...                                                    ...
12/31/2019 Tehama                                      NaN
           Trinity                                     NaN
           Tulare                                      NaN
           Ventura                                     NaN
           Yolo                                        NaN

                      Daily Max 1-hour NO2 Concentration
Date       COUNTY
01/01/2019 Alameda                                 31.15
           Amador                                    NaN
           Butte                                   23.40
           Calaveras                                 NaN
           Colusa                                    NaN
...                                                  ...
12/31/2019 Tehama                                    NaN
           Trinity                                   NaN
           Tulare                                  26.90
           Ventura                                 11.50
           Yolo                                    14.10

[19051 rows x 5 columns]